/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10-jun-2023, 18:43:00
    Author     : Pablo
*/

body {
    background-image: url("../images/fondo1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    position: absolute;
    top: 0.3%;
    left: 16%;
}